<!-- Test to see if users were added to database -->
<div class="main">

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<% @users.each do |u| %>
	<p> <%= u.name %> </p>
	<p> <%= u.id %> </p> <br>

<%end%>

</div>
